#body{
    background-color:#f68989;
    text-align: center;
}
.winner{
    font-size: 8rem;
    color: #990000;
    font-family: 'Praise', cursive;
}
.welcome{
    padding: 2.5% 5%;
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
}
#header{
    padding-bottom: 2rem;
    padding-bottom: 1%;
}
.player1, .player2{
    font-size: 3rem;
    font-family: 'Fredoka One', cursive; 
}
#middle{
    padding: 0 25%;
    padding-bottom: 10%;
}
.row{
    padding-bottom: 4%;
}

button:hover{
    background-color: #990000 !important;
  }

